{% extends 'base.html.twig' %}


    {% block body %}
        <h1>Witaj {{ user.getName() }}!</h1>
        <p>Email: {{ user.getEmail() }}</p>
        <p>Hasło: *********** <a href="{{ path('change_password') }}"><button class="btn btn-warning">Zmień hasło</button></a></p>


    {% endblock %}
