{% block body %}

    <h1>Witaj!</h1>

    <p>Dodaliśmy właśnie nowy produkt: <a class="btn btn-primary" href="http://localhost:8080{{ path('products', {id: id}) }}">Zobacz produkt</a></p>

{% endblock %}
